.name-ctn {
    /*position:absolute;*/
    display: grid;
    grid-template-columns: 100px 160px 250px;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
      "j a ce"
      "w w w"
    ;
    /*width: fit-content;
    height: fit-content;*/
    left: calc(50vw - 255px);
    overflow: hidden;
    /*border: 1px solid white;*/
    
}

.j-txt {grid-area: "j"; }
.ce-txt {grid-area: "ce"; text-align: left;}
.weyant-txt {grid-area: "w"; font-size: 200px;}

.a-or-logo-ctn {
  width: 160px;
  max-width: 160px;
  height: fit-content;
  align-self: center;
  grid-area: "a";

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.a-txt {
  grid-row: 1;
  grid-column: 1;
  opacity: 0;
}
.a-logo {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 160px;
  opacity: 1;
  align-self: center;
  margin-top: -20px;
}

.name-txt {
  line-height: 0.68;
  align-self: center;
}
  
  