.projects-card {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: end;
    height: 100vh;
    width: 100vw;
    padding-left: 30px;
    overflow-x: hidden;
    background-color: transparent;
    z-index: 100;
}